.button {
    padding:0;
    cursor: pointer;
    border: none;
    border-radius: 3200px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    &.primary {
        background-color: var(--primary-primary);
        color: var(--primary-on-primary);
        fill:  var(--primary-on-primary); //MIGHT REMOVE WHEN ICON WORKS

        &:hover {
            background-color: var(--primary-primary-hover);
            outline: 1.5px var(--surface-on-surface) solid;
            outline-offset: -1.5px;
        }
    }

    &.secondary {
        background-color: var(--secondary-secondary);
        color: var(--secondary-on-secondary);
        fill:  var(--secondary-on-secondary); //MIGHT REMOVE WHEN ICON WORKS
        &:hover {
            background-color: var(--secondary-secondary-hover);
            outline: 1.5px var(--surface-on-surface) solid;
            outline-offset: -1.5px;
        }
    }

    &.outlined {
        background-color: transparent;
        color: var(--surface-on-surface);
        outline: 1.5px var(--surface-on-surface) solid;
        outline-offset: -1.5px;
        fill:  var(--surface-on-surface); //MIGHT REMOVE WHEN ICON WORKS


        &:hover {
            background-color: var(--surface-surface-hover);
        }
    }

    &.ghost {
        background-color: transparent;
        color: var(--surface-on-surface);
        fill:  var(--surface-on-surface); //MIGHT REMOVE WHEN ICON WORKS

        &:hover {
            background-color: var(--surface-surface-hover);
        }
    }

    &.large {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        gap: 11px;

        .start-icon-container {
            margin-left: 19px;
        }

        .end-icon-container{
            margin-right:19px;
        }

        .text-container {
            margin: 14px 24px;
        }
    }

    &.regular {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        gap: 8px;

        .start-icon-container {
            margin-left: 19px;
        }

        .end-icon-container{
            margin-right:19px;
        }


        .text-container {
            margin: 10px 24px;
        }
    }


    &.small {
        /* Button Size-7 */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */

        text-align: center;
        letter-spacing: 0.01em;

        gap: 4px;

        .start-icon-container {
            margin-left: 10px;
        }

        .end-icon-container{
            margin-right:10px;
        }

        .text-container {
            margin: 7px 16px;
        }
    }

    &.XS {
        /* button/size-8 */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */

        text-align: center;
        letter-spacing: 0.01em;

        gap: 4px;

        .start-icon-container {
            margin-left: 6px;
        }

        .end-icon-container{
            margin-right:6px;
        }

        .text-container {
            margin: 5px 8px;
        }
    }

    &.start-icon {
        .text-container {
            margin-left: 0;
        }
    }

    &.end-icon {
        .text-container {
            margin-right: 0;
        }
    }

    .start-icon-container, .end-icon-container{
        display:flex;
        justify-content: center;
        align-items: center;
        
    }
}
