@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.woff');
}

#docs-root > .sbdocs {
    background-color: #120042;
    padding: 7.5em;

    .sbdocs-preview {
        background: none;
    }

    .docs-story {
        background-color: #84064b;
        border: 1px solid #d14f96;
        border-radius: 8px;
    }
}

.story-template {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 144px;
    color: #f7f4ff;

    * {
        font-family: 'Inter';
    }
    
    section {
        > h2 {
            font-size: 2em;
            margin: 0 0 0.5em 0;
        }
    }
}

.import-section {
    > div {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25em;
        min-width: max-content;
        background-color: #84064b;
        padding: 1.5em 1em;
        border: 1px solid #d14f96;
        border-radius: 8px;

        > span {
            font-family: monospace;
            width: max-content;
        }
    }
}
