$primary: #0f0230;
$secondary: #f7f4ff;
$tertiary: #160449;
$tertiary-accent: #2a233f;
$accent: #ff006a;

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Regular.woff");
}

@font-face {
    font-family: "Logo";
    src: url("../assets/fonts/JetBrainsMono-ExtraBold.woff");
}

#docs-root > .sbdocs {
    background-color: $primary;
    padding: 7.5em;

    .sbdocs-preview {
        background: none;
    }

    .docs-story {
        background-color: $tertiary;
        border: 1px solid $tertiary-accent;
        border-radius: 8px;
    }

    .docblock-code-toggle {
        user-select: none;
        background-color: $secondary;
        color: $primary;
    }
}

.story-template {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 50px;
    color: $secondary;

    * {
        font-family: "Inter";
    }

    .logo {
        color: $accent;
        width: min-content;
        text-shadow: 0 0 8px $accent;
        margin-bottom: 75px;

        h1 {
            font-size: 6em;
            font-family: "Logo";
            line-height: 50%;
            letter-spacing: -0.05em;
        }
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }

    p {
        margin: 1em 0 2em 0;
    }

    h2 {
        font-size: 2em;
        margin: 0 0 0.5em 0;
    }
}

.import-section {
    > div {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25em;
        min-width: max-content;
        background-color: $tertiary;
        padding: 1.5em 1em;
        border: 1px solid $tertiary-accent;
        border-radius: 8px;

        > span {
            font-family: monospace;
            width: max-content;
        }
    }
}
