$primary: #120042;
$secondary: #f7f4ff;
$tertiary: #372666;
$tertiary-accent: #584491; 

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.woff');
}

#docs-root > .sbdocs {
    background-color: $primary;
    padding: 7.5em;

    .sbdocs-preview {
        background: none;
    }

    .docs-story {
        background-color: $tertiary;
        border: 1px solid $tertiary-accent;
        border-radius: 8px;
    }

    .docblock-code-toggle {
        user-select: none;
        background-color: $secondary;
        color: $primary;
    }
}

.story-template {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 144px;
    color: $secondary;

    * {
        font-family: 'Inter';
    }
    
    h2 {
        font-size: 2em;
         margin: 0 0 0.5em 0;
    }
}

.import-section {
    > div {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25em;
        min-width: max-content;
        background-color: $tertiary;
        padding: 1.5em 1em;
        border: 1px solid $tertiary-accent;
        border-radius: 8px;

        > span {
            font-family: monospace;
            width: max-content;
        }
    }
}
