.divider.divider {
  background: var(--surface-surface-variant);
}
.divider.divider.vertical {
  float: left;
  width: 1px;
  height: 100%;
}
.divider.spacer {
  height: var(--spacer-height);
}
.divider.horizontal {
  width: 100%;
  height: 1px;
}