.divider{
    background: fill var(--surface-surface-variant);

    &.horizontal {
        width: 100%;
        height: 1px;
    }

    &.vertical {
        float: left;
        width: 1px;
        height: 100%;
    }
}
