$primary: #0f0230;
$secondary: #f7f4ff;
$tertiary: #160449;
$tertiary-accent: #2a233f;
$accent: #ff006a;

@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-Regular.woff");
}

@font-face {
    font-family: "Logo";
    src: url("../../assets/fonts/JetBrainsMono-ExtraBold.woff");
}

#docs-root > .sbdocs {
    background-color: var(--primary-primary);
    padding: 7.5em;

    .sbdocs-preview {
        background: none;
    }

    .docs-story {
        background-color: $tertiary;
        border: 1px solid $tertiary-accent;
        border-radius: 8px;
    }

    .docblock-code-toggle {
        user-select: none;
        background-color: $secondary;
        color: $primary;
    }
}
