@import 'vars';
@import 'fonts';

@for $i from 1 through 11 {
  .heading-size-#{$i} {
    @include text-attributes('heading', $i);
  }
}

@for $i from 6 through 11 {
  .body-jetbrains-size-#{$i} {
    @include text-attributes('body-jetbrains', $i);
  }
}

@for $i from 8 through 11 {
  .body-opensans-size-#{$i} {
    @include text-attributes('body-opensans', $i);
  }
}

div.logo {
  

  > span {
    color: $tarka-red;
    font-size: 10rem;
    font-family: logo;
  }
}

h2.sbdocs {
  @include text-attributes('heading', 3);
  border: none;

  &:before{
    line-height: normal;
  }
} 
